.team-heading {
  background-color: #e84855;
  color: #ffffff;
}

.employee-card {
  margin: 1em;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  border: none;
  max-width: 280px;
  min-height: 22rem;
  background-color: #007bff;
  color: white;
  width: 90%;
  display: flex;

}

.card-body {
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-area {
  max-width: 1000px;
  margin: 3em auto;
  flex-wrap: wrap;
}

.list-group-item {
  color: #000000;
  text-decoration: none;
}